# 1. Importing Libraries and Data

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/sarahedens/Desktop/Instacart Basket Analysis'

In [3]:
df_ords = pd.read_csv(os.path.join(path,'02 Data','Original Data', 'orders.csv'), index_col = False)

In [4]:
df_prods = pd.read_csv(os.path.join(path,'02 Data','Original Data', 'products.csv'), index_col = False)

In [5]:
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col=False)

# 2. Wrangling Procedures

In [6]:
df_ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [7]:
# Dropping eval_set column from orders.csv
df_ords = df_ords.drop(columns = ['eval_set'])

In [8]:
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [9]:
df_ords['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [10]:
# Renaming order_dow
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [11]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [12]:
# Changing Variable Type
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [13]:
df_ords['order_id'].dtype

dtype('O')

In [14]:
# Transposing df_dep
df_dep_t=df_dep.T

In [15]:
df_dep_t

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [16]:
# Getting rid of "0" with an index
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [17]:
new_header = df_dep_t.iloc[0]

In [18]:
new_header

0    department
Name: department_id, dtype: object

In [19]:
df_dep_t_new = df_dep_t[1:]

In [20]:
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [21]:
df_dep_t_new.columns = new_header

In [22]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

# 3. Changing variables

In [23]:
# Changing another Variable
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [24]:
df_ords['user_id'].dtype

dtype('O')

# 4. Renaming variable in df.ords

In [25]:
df_ords.rename(columns = {'order_hour_of_day' : 'time_of_day'}, inplace = True)

In [26]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# 5. Frequency of placing orders by the hour

# Method #1

In [27]:
df_ords.groupby('time_of_day').size()

time_of_day
0      22758
1      12398
2       7539
3       5474
4       5527
5       9569
6      30529
7      91868
8     178201
9     257812
10    288418
11    284728
12    272841
13    277999
14    283042
15    283639
16    272553
17    228795
18    182912
19    140569
20    104292
21     78109
22     61468
23     40043
dtype: int64

Hour 10 has highest frequency.

# Method #2

In [28]:
hourly_frequency = df_ords['time_of_day'].value_counts()

In [29]:
print(hourly_frequency)

time_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

Hour 10 has highest frequency.

# 6. Determine meaning of value 4 in department_id

In [30]:
data_dict = df_dep_t_new.to_dict('index')

In [31]:
print(data_dict.get('4'))

{'department': 'produce'}

Department 4 represents produce department.

# 7. Breakfast item sales

In [32]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

 Department_id 14 is breakfast sales.

In [33]:
# Creating a subset for breakfast (Method # 1)
df_breakfast = df_prods[df_prods['department_id']==14]

In [34]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

In [35]:
# Creating a subset for breakfast (Method # 2)
df_breakfast_2 = df_prods.loc[df_prods['department_id'] == 14]

loc = looks for column name

In [36]:
# Creating a subset for breakfast (Method # 3)
df_Breakfast_3 = df_prods.loc[df_prods['department_id'].isin([14])]

isin([]) = Telling the loc function to look into a list ex: (isin([14,17,18])

# 8. Subsets: alcohol, deli, beverages, meat/seafood

In [38]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

department_id of interest -- 5, 20, 7, 12

In [39]:
df_dinner_parties = df_prods.loc[df_prods['department_id'].isin([5,20,7,12])]

In [40]:
df_dinner_parties

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1
...,...,...,...,...,...
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49686,49682,California Limeade,98,7,4.3
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3

# 9. Total counts of rows for df_dinner_parties

In [41]:
df_dinner_parties.shape

(7650, 5)

# 10. Info on user_id 1

In [42]:
df_ords_user_id_1 = df_ords.loc[df_ords['user_id'] == "1"]

In [43]:
df_ords_user_id_1.shape

(11, 6)

In [44]:
df_ords_user_id_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                11 non-null     object
 1   user_id                 11 non-null     object
 2   order_number            11 non-null     int64
 3   orders_day_of_week      11 non-null     int64
 4   time_of_day             11 non-null     int64
 5   days_since_prior_order  10 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 616.0+ bytes

# 11. Basic stats on user_id 1

In [45]:
df_ords_user_id_1.describe()

       order_number  orders_day_of_week  time_of_day  days_since_prior_order
count     11.000000           11.000000    11.000000               10.000000
mean       6.000000            2.636364    10.090909               19.000000
std        3.316625            1.286291     3.477198                9.030811
min        1.000000            1.000000     7.000000                0.000000
25%        3.500000            1.500000     7.500000               14.250000
50%        6.000000            3.000000     8.000000               19.500000
75%        8.500000            4.000000    13.000000               26.250000
max       11.000000            4.000000    16.000000               30.000000

# Exporting prepared data

In [46]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [47]:
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))